
/*---
Rating
@group			UIComponents/Rating
@desc			...
@todo			Document
@author			Michael Ord
@tags			module,svg
---
<span class="rating" title="3.5/5" data-tooltip>
	<i aria-hidden="true" class="icon icon--star-full"><svg><use xlink:href="/assets/media/icons.svg#star-full"></use></svg></i>
	<i aria-hidden="true" class="icon icon--star-full"><svg><use xlink:href="/assets/media/icons.svg#star-full"></use></svg></i>
	<i aria-hidden="true" class="icon icon--star-full"><svg><use xlink:href="/assets/media/icons.svg#star-full"></use></svg></i>
	<i aria-hidden="true" class="icon icon--star-full"><svg><use xlink:href="/assets/media/icons.svg#star-full"></use></svg></i>
	<i aria-hidden="true" class="icon icon--star-full"><svg><use xlink:href="/assets/media/icons.svg#star-full"></use></svg></i>
</span>

<hr>

<div class="rating">
	<input type="radio" name="rating" id="rating-1">
	<label for="rating-1" title="1 Star"><i aria-hidden="true" class="icon icon--star-full"><svg><use xlink:href="/assets/media/icons.svg#star-full"></use></svg></i></label>
	<input type="radio" name="rating" id="rating-2">
	<label for="rating-2" title="2 Stars"><i aria-hidden="true" class="icon icon--star-full"><svg><use xlink:href="/assets/media/icons.svg#star-full"></use></svg></i></label>
	<input type="radio" name="rating" id="rating-3">
	<label for="rating-3" title="3 Stars"><i aria-hidden="true" class="icon icon--star-full"><svg><use xlink:href="/assets/media/icons.svg#star-full"></use></svg></i></label>
	<input type="radio" name="rating" id="rating-4">
	<label for="rating-4" title="4 Stars"><i aria-hidden="true" class="icon icon--star-full"><svg><use xlink:href="/assets/media/icons.svg#star-full"></use></svg></i></label>
	<input type="radio" name="rating" id="rating-5">
	<label for="rating-5" title="5 Stars"><i aria-hidden="true" class="icon icon--star-full"><svg><use xlink:href="/assets/media/icons.svg#star-full"></use></svg></i></label>
</div>
*/
.rating
{
	$parent						: &;

	word-wrap					: nowrap;
	user-select					: none;

	> .icon
	{
		width					: 16px;
		height					: 16px;

		+ .icon
		{
			margin-left			: -4px;
		}
	}
}
